@model Models.Utilisateur.UtilisateurDetailVM

@{
    ViewData["Title"] = "Utilisateur Details";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">

    <h2 class="text-center">Profile   
        
            </h2>
        <button class="btn btn-sm btn-primary" style="background-color :lightgreen;  border-radius:10px; border-color : lightgrey">
            <a asp-controller="Utilisateur" asp-action="Edit" asp-route-id="@Model.Id" class="text-white">
                <i class="bi bi-pencil"></i> Upgrade
            </a>
        </button>
        
        </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>@Model.Nom</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>@Model.Prenom</td>
                </tr>
                <tr>
                    <th>Adress</th>
                    <td>@Model.Adress</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>@Model.Telephone</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Admin ?</th>
                    <td>@Model.Admin</td>
                </tr>
            </table>
        </div>
    </div>
</div>

